.body {
  background: rgb(242, 242, 242);
  color: #65665C;
  user-select: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 14px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container  {
    width: 1360px !important;
    padding: 0 15px;
    margin: 0 auto;
}