.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 100px;
}

.authTop .authTopInner a {
    font-weight: 500;
}

.authTopInner {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.authTop {
    padding-top: 30px;
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.authBtn {
    border-radius: 10px;
/* Accent unit with green back */
box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
/* green 01 */
background: rgb(16, 187, 135);
padding: 12px 30px 12px 30px;
max-width: 160px;
color: #fff;
}

.forma {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgb(175, 175, 175);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 100px;
    margin-bottom: 300px;
}

.forma a{
    margin-left: 30px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 166, 48);
    margin-left: 100px;
}

.forma div input {
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    /* Interface with white back */
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    /* white */
    background: rgb(255, 255, 255);
}