.card {
    width: 96px;
    height: 96px;
    border-radius: 21px;
    background: #F2F2F2;
    position: relative;
}

.card svg {
    position: absolute;
    top: 30px;
    left: 32px;
}

.fifthCard svg{
    left: 38px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardtext {
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
    margin-top: 20px;
}

