.editForm {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.editForm button {
    display: inline-block;
}

.editForm button:first-child {
    margin-right: 25px;
}