.header{
    display: flex;
}

.header ul {
    list-style: none;
    display: flex;
}
.logo {
    display: inline-block;
}
.navigation {
    display: inline-block;
}

.header ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}