

.megaFooter {
    background: rgb(242, 242, 242);
}

.megaFooterInner {
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 50px;
    gap: 80px;
}

.firstList {
    max-height: 190px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    font-weight: 500;
    line-height: 20px;
    gap: 100px;
}

.firstList div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
}

.secondTitle {
    margin-bottom: 10px;
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.secondList {
    max-height: 190px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    font-weight: 500;
    line-height: 20px;
    gap: 70px;
}


.innerOne {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
}

.innerOne div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 40px;
    margin-top: 10px;
}

.chtoTutProsihodit {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footerDno {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.hr {
    background: rgb(121, 121, 121);
    margin-top: 50px;
    margin-bottom: 20px;
}

.footerDno a {
    border-radius: 10px;
    /* Interface with white back */
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    /* white */
    background: rgb(255, 255, 255);
    padding: 11px 15px;
    margin-left: 10px;
}

.dnoZero {
    margin-right: 200px;
}

.dnoOne {
    margin-right: 40px;
}

.dnoOne h3{
    color: rgb(179, 179, 179);
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 14px;
}

.dnoOne span {
    font-weight: 400;
line-height: 20px;
}

.dnoTwo {
    margin-right: 50px;
}

.dnoTwo h4{
    color: rgb(72, 123, 108);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;
}

.dnoTwo h4 svg {
    margin-right: 10px;
}

.dnoTwo:last-child span {
    color: rgb(179, 179, 179);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}