.directoryBtn {
    background: rgb(16, 187, 135);
    border: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 12px;
    margin: 30px auto;
    display: block;
    text-align: center;
}