.preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewText {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 352px;
    margin-right: 70px;
}

.previewImg {
    margin-top: 30px;
  }
  
  .carousel {
    position: relative;
    width: 100%;
  }
  
  .slideContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;

  }
  
  .cardContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    width: 192px;
    height: 192px;
    border-radius: 24px;
  }
  
  .Plate {
    width: 100%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sliderSection {
    margin-top: 100px;
    position: relative;
    overflow: visible;
    border-bottom: 2px solid #f2f2f2;
  }
  .Back {
    position: absolute;
    top: 90px;
    left: -10%;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
  }

  .Next {
    position: absolute;
    top: 90px;
    right: -4%;
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
  }


.production {
  margin-top: 70px;
}

  .productionDesc {
    max-width: 700px;
    margin-top: 34px;
  }

  .vacancy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    padding-bottom: 70px;
    border-bottom: 2px solid #f2f2f2;
  }

  .vacancyInner {
    display: flex;
    gap: 32px;

  }

  .vacancyInner label  {
    padding-right: 10px;
  }

  .vacancyInner label span {
    font-weight: 600;
  }

  .paddingLeft {
    padding-left: 10px;
  }

  .miniHistoryCompany {
    max-width: 700px;
    margin-top: 40px;
  }

  .historyInfo {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 96px;
  }

  .historyInfo section {
    display: flex;
  }

  .historyInfo section span {
    font-size: 24px;
    font-weight: 500;
    background: rgb(242, 242, 242);
    width: 96px;
    height: 96px;
    padding: 32px 18px;
    border-radius: 21px;
    margin-left: 58px;
  }

  .historyInfo section span{
    border-right: 4px solid rgb(16, 187, 135);
  border-radius: 100px;
  }

  .historyInfo section img {
    margin-left: 100px;
  }

  .historyMini {
    max-width: 192px;
    color: #b3b3b3;
  }

  .historyMax {
    max-width: 448px;
    color: #b3b3b3;
  }

  .historyCenter{
    align-self: center;
  }