@import "./null.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
  user-select: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 14px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container  {
    max-width: 1320px !important;
    padding: 0 10px;
    margin: 0 auto;
}

.footer {
    margin-top: 80px;
    display: block;
}